<h2>Wolverine</h2>

<div class ="row">
  <div class="col-md-6"><img src="/images/wolverine-old.jpg" alt="wolverine" /></div>
  <div class="col-md-6">
    <h3>Last of the X-Men</h3>
    <ul class="list-group">
  <li class="list-group-item list-group-item-danger">Affiliation: X-men</li>
  <li class="list-group-item list-group-item-danger">Powers: Adamantium covered bones & claws, amazing healing abilities, heightened animal sences</li>
  <li class="list-group-item list-group-item-danger">Interesting Fact: Lost entire childhood and most of adult memories due to an Adamantium bullet to the brain </li>
  <li class="list-group-item list-group-item-danger">Nemesis: Magneto, HULK and Deadpool</li>
  <li class="list-group-item list-group-item-danger"><img src="/images/hulk.jpg" alt="cable" style="width: 600px; height:600px;" /></li>
</ul>
  </div>
</div>
