<!-- home controller -->

<h2>{{message}}</h2>
<div class ="row">
  <div class="col-md-6"><img src="/images/deadpool.jpeg" alt="deadpool" /></div>
  <div class="col-md-6">
    <h3>Merc With a Mouth</h3>
    <ul class="list-group">
  <li class="list-group-item list-group-item-danger">Affiliation: Mercenary for hire</li>
  <li class="list-group-item list-group-item-danger">Powers: Advanced healing, streanth & agility swordmanship and special forces training</li>
  <li class="list-group-item list-group-item-danger">Interesting Fact: Mutant abilities are a results of an expeirient to cure terminal cancer and LOVES chimichangas</li>
  <li class="list-group-item list-group-item-danger">Nemesis: Wolverine & Ajax </li>
  <li class="list-group-item list-group-item-danger"><img src="/images/deadpool wolverine.jpeg" alt="deadpool" /></li>
</ul>
  </div>
</div>
