<h2>{{message}}</h2>
<div class ="row">
  <div class="col-md-6"><img src="/images/cable.jpg" alt="deadpool" /></div>
  <div class="col-md-6">
    <h3>Son of Cyclops</h3>
    <ul class="list-group">
  <li class="list-group-item list-group-item-danger">X-men, X-Force, Deadpool</li>
  <li class="list-group-item list-group-item-danger">Powers: Time travel, telapathic and telekinetic abilities</li>
  <li class="list-group-item list-group-item-danger">Interesting Fact: Adult son of Cyclops and Madelyne Pryor(Jean Grey's clone) </li>
  <li class="list-group-item list-group-item-danger">Nemesis: Silver Surfer </li>
  <li class="list-group-item list-group-item-danger"><img src="/images/cable2.jpg" alt="cable" style="width: 600px; height:600px;" /></li>
</ul>
  </div>
</div>
